* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
  letter-spacing: 5px;
}
:root {     
    --color-red: #e83f5b;
 }
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-background {
  background-color: rgb(248, 245, 245);  
  padding: 0 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px rgb(211, 208, 208);
}
input[type="file"] {
  font-size: 18px;
  padding: 0 10px;
  outline: none;
  cursor: pointer;
}
.container-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid rgb(177, 174, 174);
  width: 35%;
  height: 100vh;
  background-color: rgb(228, 222, 222);
  padding: 1%;
  overflow: auto;
}
.div-crop{
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 5px 15px 0px lightgrey;
  border-radius: 8px;
  width: 90%;
  margin: 20px;
  padding:1%;
}
.left {
  width: 10%;
}
.right {
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.container-content-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgb(177, 174, 174);
  width: 55%;
  height: 100vh;
  background-color: rgb(248, 242, 243);
  padding: 1%;
  overflow: auto;
}
.content {
  width: 45%;
  text-align: center;
  padding: 1%;
  box-shadow: 0px 0px 15px 5px rgb(180, 174, 174);
  margin-bottom: 5%;
}
img {
  width: 100%;
}
#arquivoDaFoto,
#btnCorteFoto,
#btnBaixar {
  display: none;
}

button { 
  padding: 1% 3%;
  border: 2px solid rgb(218, 209, 209);
  border-radius: 5px;
  box-shadow: 0px 3px 8px rgb(224, 217, 217);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin: auto;
  display: flex;  
  align-items: center;
  justify-content: center;
  background-color: rgba(167, 173, 172, 0.315);   
  margin: 5px;
  transition: 0.2s;
}
button:hover {
    
  border: 2px solid rgba(255, 46, 46, 0.596);
  box-shadow: 0px 3px 15px rgba(248, 26, 26, 0.39);
  /* border-radius: 7px; */
  cursor: pointer;
  outline: none;
}
#seletorFerramenta {
  border: 2px dashed var(--color-red);
  display: none;
  position: fixed;
}
.arrow {
  width: 30px;
}
.webcam {
  width: 40px;
}
.folder {
  width: 60%;
  text-align: center;
  margin: 10%;
}
.button-capturar {
  margin: auto;
}
